# Creación de Funciones con Conjuntos de Datos Personalizados:

   procederemos a la creación y prueba de las funciones esenciales requeridas para el funcionamiento de nuestra API. Utilizaremos los conjuntos de datos que creamos en la etapa anterior para facilitar y agilizar el proceso. Es importante destacar que, si bien las funciones están diseñadas y optimizadas en este entorno, es posible que necesitemos realizar ajustes adicionales al hacer el despliegue final, teniendo en cuenta las condiciones específicas de renderización y FastAPI.

In [1]:
import warnings
warnings.filterwarnings("ignore")

# Inicialización
Importamos las librerías que nos servirán para poder procesar, visualizar y explorar nuestros datos de manera efectiva, la librería `pandas`

In [2]:
import pandas as pd

%load_ext autoreload
%autoreload 2

# Extracción de los datos

procederemos a la extracción de datos a partir de los conjuntos previamente preparados y optimizados. Cada uno de estos conjuntos desempeña un papel en el desarrollo de las funciones requeridas para nuestra API. A continuación, presentamos una breve descripción de los conjuntos de datos que se utilizarán en este proceso:

1. **df_most_played_year**
Este conjunto de datos nos proporciona información sobre los géneros de videojuegos junto con el año en que se jugaron más horas. A través de esta fuente, obtendremos una visión de los géneros más populares a lo largo del tiempo.

2. **df_maxuser_genre_cleaned**
En este conjunto, encontramos información relacionada con el usuario que acumula la mayor cantidad de horas jugadas para un género de videojuegos específico. Esto nos permitirá identificar a los usuarios más destacados en cada género y comprender sus preferencias de juego.

3. **df_top_positive_games_by_year**
Este conjunto de datos muestra los juegos más recomendados por año, junto con el número de recomendaciones y su posición en el ranking. Al acceder a esta información, podremos brindar a los usuarios recomendaciones basadas en las calificaciones y popularidad de los juegos en diferentes momentos.

4. **df_top_negative_games_by_year**
Similar al conjunto anterior, este proporciona una lista de juegos no recomendados por año, junto con su clasificación en el ranking y el número de recomendaciones negativas. Esta fuente nos permitirá advertir a los usuarios sobre juegos que quizás deseen evitar.

5. **df_sentiment_counts**
Finalmente, contamos con un archivo que ofrece un recuento detallado de reseñas de usuarios categorizadas por año y sentimiento. Esta información es esencial para comprender la percepción y el sentimiento de la comunidad de usuarios en relación con los juegos a lo largo del tiempo.

In [3]:
# extraccion de los datos de df_most_played_year
df_most_played_year = pd.read_csv('df_most_played_year.csv')

In [4]:
df_most_played_year.tail(3)

               genres  release_year  playtime_forever
18  Software Training          2014            412697
19          Education          2013            340567
20      Photo Editing          2014             61659

In [5]:
# extraccion de los datos de df_maxuser_genre_cleaned
df_maxuser_genre_cleaned = pd.read_csv('df_maxuser_genre_cleaned.csv')

In [6]:
df_maxuser_genre_cleaned.head(3)

,genres,user_id,playtime_forever,2010,2011,2012,2013,2014,2015
0,Action,thiefofrosesinlalaland,7438.700000,0.0,0.0,0.0,0.0,7107.58,331.12
1,Adventure,thiefofrosesinlalaland,6776.366667,0.0,0.0,0.0,0.0,6445.25,331.12
2,Animation &amp; Modeling,76561198059330972,1090.450000,0.0,0.0,0.0,0.0,0.00,1090.45

In [7]:
# extraccion de los datos de df_top_positive_games_by_year
df_top_positive_games_by_year = pd.read_csv('df_top_positive_games_by_year.csv')

In [8]:
df_top_positive_games_by_year.head(3)

  reviews_year           Rank 1         Rank 2       Rank 3
0         2010  Team Fortress 2  Killing Floor  Alien Swarm
1         2011  Team Fortress 2       Portal 2     Terraria
2         2012  Team Fortress 2       Terraria  Garry's Mod

In [9]:
# extraccion de los datos de df_top_negative_games_by_year
df_top_negative_games_by_year = pd.read_csv('df_top_negative_games_by_year.csv')

In [10]:
df_top_negative_games_by_year.head(3)

,reviews_year,Rank 1,Rank 2,Rank 3
0,2010,Team Fortress 2,Sin Reviews Negativos,Sin Reviews Negativos
1,2011,And Yet It Moves,Team Fortress 2,Counter-Strike: Source
2,2012,Aliens vs. Predator™,Blacklight: Retribution,Call of Duty®: Black Ops II

In [11]:
# extraccion de los datos de df_sentiment_count
df_sentiment_count = pd.read_csv('df_sentiment_counts.csv')

In [12]:
df_sentiment_count.head(3)

  release_year  0  1  2
0         1989  0  0  1
1         1990  1  0  4
2         1991  0  0  1

# Desarrollo de la Funciones requeridas

### PlayTimeGenre

La función "PlayTimeGenre"  recibe un género de tipo 'str'como parámetro, la función devolverá el año de lanzamiento en el que ese género acumuló la mayor cantidad de horas jugadas.

In [13]:
def PlayTimeGenre(genre):
    # Filtra el DataFrame por el género especificado
    genre_data = df_most_played_year[df_most_played_year['genres'] == genre]
    
    if genre_data.empty:
        return f'El género {genre} no se encuentra en el conjunto de datos.'
    
    # Obtiene el año directamente
    max_playtime_year = genre_data.iloc[0]['release_year']
    
    # Devuelve el resultado en el formato deseado
    result = f"Año de lanzamiento con más horas jugadas para el género {genre}: {max_playtime_year}"
    
    return result

In [14]:
 PlayTimeGenre('Indie')

'Año de lanzamiento con más horas jugadas para el género Indie: 2006'

### UserForGenre


La función "UserForGenre" recibe un género de tipo 'str' como parámetro y tiene como objetivo devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.

In [40]:
def UserForGenre(genre):
    # Filtra el DataFrame por el género especificado
    genre_data = df_maxuser_genre_cleaned[df_maxuser_genre_cleaned['genres'] == genre]
    
    if genre_data.empty:
        return f'El género {genre} no se encuentra en el conjunto de datos.'
    
    # Encuentra el usuario con más horas jugadas para el género
    max_playtime_user = genre_data['user_id'].values[0]
    
    # Crea una lista de acumulación de horas jugadas por año
    playtime_by_year = []
    for column in genre_data.columns[3:]:  # Ignora las primeras tres columnas
        year = int(column)
        playtime = round(genre_data[column].sum() , 2)  # Convierte minutos a horas y redondea a 2 decimales
        if playtime > 0:
            playtime_by_year.append({'Año': year, 'Horas': playtime})
    
    # Devuelve el resultado en el formato deseado
    result = {
        f"Usuario con más horas jugadas para Género {genre}": max_playtime_user,
        "Horas jugadas": playtime_by_year
    }

    return result

In [46]:
UserForGenre('Action')

{'Usuario con más horas jugadas para Género Action': 'thiefofrosesinlalaland',
 'Horas jugadas': [{'Año': 2014, 'Horas': 7107.58},
  {'Año': 2015, 'Horas': 331.12}]}

### UsersRecommend
La función "UserForGenre" recibe el año de tipo 'str' como parámetro y devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado.

In [111]:
df_top_positive_games_by_year.head(3)

  reviews_year           Rank 1         Rank 2       Rank 3
0         2010  Team Fortress 2  Killing Floor  Alien Swarm
1         2011  Team Fortress 2       Portal 2     Terraria
2         2012  Team Fortress 2       Terraria  Garry's Mod

In [126]:
def UsersRecommend(year):
    # Filtrar el DataFrame por el año dado
    filtered_df = df_top_positive_games_by_year[df_top_positive_games_by_year['reviews_year'] == year]
    
    # Verificar si se encontraron revisiones para el año dado
    if filtered_df.empty:
        return "Año ingresado inválido o sin revisiones."
    
    top_games_list = [
        {"Puesto 1": filtered_df.iloc[0]['Rank 1']},
        {"Puesto 2": filtered_df.iloc[0]['Rank 2']},
        {"Puesto 3": filtered_df.iloc[0]['Rank 3']}
    ]
    return top_games_list

In [128]:
UsersRecommend('201')

'Año ingresado inválido o sin revisiones.'

### UsersNotRecommend

La función "UserForGenre" recibe el año de tipo 'str' como parámetro y devuelve el top 3 de juegos MENOS recomendados por usuarios para el año dado.

In [109]:
df_top_negative_games_by_year.head(3)

,reviews_year,Rank 1,Rank 2,Rank 3
0,2010,Team Fortress 2,Sin Reviews Negativos,Sin Reviews Negativos
1,2011,And Yet It Moves,Team Fortress 2,Counter-Strike: Source
2,2012,Aliens vs. Predator™,Blacklight: Retribution,Call of Duty®: Black Ops II

In [129]:
def UsersNotRecommend(year):
    # Filtrar el DataFrame por el año dado
    filtered_df = df_top_negative_games_by_year[df_top_negative_games_by_year['reviews_year'] == year]
    
    # Verificar si se encontraron revisiones para el año dado
    if filtered_df.empty:
        return "Año ingresado inválido o sin revisiones."
    
    top_games_list = [
        {"Puesto 1": filtered_df.iloc[0]['Rank 1']},
        {"Puesto 2": filtered_df.iloc[0]['Rank 2']},
        {"Puesto 3": filtered_df.iloc[0]['Rank 3']}
    ]
    return top_games_list

In [133]:
UsersNotRecommend('2013')

[{'Puesto 1': 'Call of Duty®: Ghosts'},
 {'Puesto 2': 'Team Fortress 2'},
 {'Puesto 3': 'Ace of Spades: Battle Builder'}]

### sentiment_analysis

la funcion "sentiment_analysis" recibe el año de lanzamiento y devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.

In [1]:
df_sentiment_count

NameError: name 'df_sentiment_count' is not defined

In [134]:
def sentiment_analysis(year):
    # Filtrar el DataFrame por el año dado
    filtered_df =df_sentiment_count[df_sentiment_count['release_year'] == year]
    
    # Verificar si se encontraron revisiones para el año dado
    if filtered_df.empty:
        return "Año ingresado inválido o sin revisiones."
    
    sentiment_list = [
        {"Negativo": filtered_df.iloc[0]['0']},
        {"Neutral": filtered_df.iloc[0]['1']},
        {"Positivo": filtered_df.iloc[0]['2']}
    ]
    return sentiment_list

In [138]:
sentiment_analysis('2016')

[{'Negativo': 401}, {'Neutral': 753}, {'Positivo': 1740}]